################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AttencandeSystemWebApp/FileContentIndex
/.vs/AttencandeSystemWebApp/config
/.vs/AttencandeSystemWebApp/v17/.suo
/AttencandeSystemWebApp/bin
/AttencandeSystemWebApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AttencandeSystemWebApp/obj/Debug/AttencandeSystemWebApp.csproj.AssemblyReference.cache
AttencandeSystemWebApp/obj/Debug/AttencandeSystemWebApp.csproj.CopyComplete
AttencandeSystemWebApp/obj/Debug/AttencandeSystemWebApp.csproj.CoreCompileInputs.cache
AttencandeSystemWebApp/obj/Debug/AttencandeSystemWebApp.csproj.FileListAbsolute.txt
AttencandeSystemWebApp/obj/Debug/AttencandeSystemWebApp.dll
AttencandeSystemWebApp/obj/Debug/AttencandeSystemWebApp.pdb
AttencandeSystemWebApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AttencandeSystemWebApp/obj/Debug/TempPE/Model1.Context.cs.dll
AttencandeSystemWebApp/obj/Debug/TempPE/Model1.cs.dll
AttencandeSystemWebApp/obj/Debug/TempPE/Model1.Designer.cs.dll
AttencandeSystemWebApp/obj/Debug/edmxResourcesToEmbed/Model1.csdl
AttencandeSystemWebApp/obj/Debug/edmxResourcesToEmbed/Model1.msl
AttencandeSystemWebApp/obj/Debug/edmxResourcesToEmbed/Model1.ssdl
